/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* layout */
/* Default light theme */
:root {
  --primary: #B0C43B;
  --error: #e7195a;
  --background: #FAFAFA;
  --text: #333;
  --header-bg: #FAFAFA;
  --form-bg: #fff;
  --toolbar-bg: #f1f1f1 ;
}

[data-theme="dark"] {
  --primary: #64FFDB;
  --background: #0B192E;
  --text: #C5CFEF;
  --header-bg: #1C1C1C;
  --form-bg: #22201F;
  --error: #e7195a;
  --toolbar-bg: #252525;
}

body, html, .App {
  background: var(--background);
  height: 100%;
  margin: 0;
  padding: 0;
}


.App-link {
  color: var(--primary)
}

body {
  margin: 0;
  font-family: "Poppins";
  overscroll-behavior-y: none;
}

h2 {
  color: var(--text);
}

h3 {
  color: var(--text);
}

.primary-btn {
  background: var(--primary) !important;
  color: var(--form-bg);
}

.secondary-btn {
  background: var(--toolbar-bg);
}

.subtitle {
  color: var(--primary);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftitems{
  display: flex;
  align-items: flex-start;
  margin-right: auto;
}


.rightitems {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rightitems button{
  color: var(--background);
}

[data-theme="dark"] .rightitems button{
  color: black;
}

header a {
  color: var(--text);
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  padding-bottom: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.toolbar {
  background: var(--toolbar-bg);
  color: var(--text);
}
.toolbar-btn {
  background: var(--toolbar-bg);
}
.toolbar-btn:hover {
  background: var(--primary);
  color: var(--form-bg);
}
.toolbar-select {
  background: var(--toolbar-bg);
  border: 1px solid var(--primary);
  border-radius: 4px;
}
/* sidebar */
.sidebarClicked {
  background: var(--toolbar-bg);
  color: var(--primary);
}
.sidebar {
  background: var(--toolbar-bg);
  scrollbar-color: var(--toolbar-bg);
  scrollbar-width: thin;
  color: var(--primary);
  max-height: 80vh;
  overflow-y: scroll;
  border-radius: 0 0 10px 0;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.exercises {
  color: var(--primary);
  cursor: default;
}
.exercises:hover {
  color: #99AB33;
}

/* homepage */

.card {
  background-color: var(--form-bg);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 450px;
}

.card-tabs {
  display: flex;
  background-color: var(--toolbar-bg);
  border-radius: 10px 10px 0 0;
}

.tab-btn {
  background-color: var(--toolbar-bg);
  cursor: pointer;
}

.active-tab {
  background-color: var(--primary);
  color: var(--background);
}

.overview-tab {
  border-radius: 10px 0 0 0;
}

.instructions-tab {
  border-radius: 0 10px 0 0;
}

.home {
  background: var(--background);
  color: var(--text);
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 24px;
  row-gap: 36px;
  padding: 16px;
}

/* new workout form */
label, input {
  display: block;
  outline: none;
  color: var(--text);
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--form-bg);
  color: var(--text);
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: var(--error);
  border: 1px solid var(--error);
  color: #fff;
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */

.navcontainer {
  background: var(--header-bg);
  display: flex;
  padding: 10px 24px;
  align-items: center;
  color: var(--text);
}

nav {
  display: flex;
  align-items: center;
}

nav a:hover {
  color: var(--primary);
}

nav button {
  background: var(--primary);
  color: #fff;
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: var(--form-bg);
  border-radius: 8px;
}